<div class="login-container">
  <div class="left-panel">
    <div class="graphics-overlay"></div>
  </div>
  <div class="right-panel">
    <p-card class="p-card" [style]="{ width: '390px' }">
      <img src="assets/logo.png" alt="VerifAI LIVE Logo" class="logo" />
      <form (ngSubmit)="login()" class="p-fluid">
        <div class="p-card-header">Welcome to sign in</div>

        <div class="p-field">
          <label class="p-t-b-10 font-label" for="username">Username</label>
          <input
            pInputText
            id="username"
            placeholder="Enter"
            [(ngModel)]="username"
            name="username"
          />
        </div>

        <div class="p-field">
      <div class="p-field">
  <label class="p-t-b-10 font-label" for="password">Password</label>

  <p-password
    id="password"
    placeholder="Password Here"
    [(ngModel)]="password"
    name="password"
    [feedback]="false"
    [toggleMask]="true"
  ></p-password>
</div>
        </div>

        <div class="p-field-forgetpassword p-t-20">
          <a href="#" class="forgot-link font-label">Forgot Password?</a>
        </div>

        <div class="p-field-checkbox">
          <p-checkbox
            name="remember"
            label="Remember Password"
            [(ngModel)]="rememberMe"
            [binary]="true"
          >
          </p-checkbox>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

    <p-button
  [label]="loading ? 'LOGGING IN...' : 'LOG IN'"
  styleClass="p-button-danger"
  [style]="{ width: '100%' }"
  type="submit"
  [disabled]="loading"
></p-button>
      </form>
    </p-card>
  </div>
</div>
