<div class="dashboard-content-section m-t-20 m-t-mobile-10">
    <div class="search-filter-container w-full-mobile">
        <div class="input-container w-full-mobile">
            <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search here"
                class="search-input font-Neometric-Medium w-full-mobile" />
        </div>
        <button class="filter-toggle-btn" (click)="toggleFilterPanel()">
            <img src="assets/filter-icon.png" alt="Filter" class="filter-toggle-icon" />
        </button>
    </div>
</div>

<div class="dashboard-content-section m-t-20">
    <div class="table-wrapper">
        <ag-grid-angular class="ag-theme-custom" [theme]="'legacy'" [columnDefs]="mastersColumnDefs" [rowData]="rowData"
            [defaultColDef]="defaultColDef" [gridOptions]="gridOptions" [domLayout]="'normal'"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>

    <app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [pageSize]="pageSize"
        (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
</div>

<!-- Filter Panel -->
<app-unified-filter-panel *ngIf="showFilterPanel" [fields]="filterFields" [model]="filterCriteria"
    (apply)="onFilterApply($event)" (reset)="onFilterReset()" (close)="onFilterClose()"
    (modelChange)="onFilterCriteriaChange($event)">
</app-unified-filter-panel>