<div class="dashboard-container">
  <!-- Loader -->
  <div class="loader-overlay" *ngIf="load | async">
    <div class="loader"></div>
    <div class="timeout-message">
      <p>Loading dashboard data...</p>
    </div>
  </div>

  <div class="dashboard-content" [class.loading]="load | async">
    <!-- Dashboard Header -->
    <div class="dashboard-content-section">
      <div class="main-section-header">
        <h2>DASHBOARD</h2>
      </div>

      <!-- Calendar Section -->
      <div class="calendar-section-wrapper">
        <app-calendar
          [showViewDropdown]="false"
          [timezone]="selectedTimezone"
          variant="dashboard"
          (dateRangeSelected)="onDateRangeSelected($event)"
        >
        </app-calendar>

        <div class="select-wrapper">
          <select
            class="custom-select"
            [(ngModel)]="timeZone"
            (ngModelChange)="timezonechange()"
          >
            <option value="">All</option>
            @for (item of timezones; track item.id) {
              <option [value]="item.timezoneCode" [title]="item.timezoneValue">
                {{ item.timezoneCode }}
              </option>
            }
          </select>
        </div>
      </div>

      <!-- Dashboard Cards -->
      <div class="cards-row">
        <p-card
          *ngFor="let card of dashboardCards"
          class="card"
          [ngClass]="{
            red: card.color === 'red',
            white: card.color === 'white',
          }"
          [styleClass]="card.color === 'red' ? 'is-red' : 'is-white'"
        >
          <ng-template pTemplate="header">
            <div class="card-top">
              <div class="card-top-left">
                <p
                  class="main-number"
                  [ngClass]="{ 'red-text': card.color === 'white' }"
                >
                  {{ card.value }}
                </p>
                <p
                  class="label"
                  [ngClass]="{ 'black-text': card.color === 'white' }"
                >
                  {{ card.title | uppercase }}
                </p>
              </div>
              <div class="card-top-right" *ngIf="card.percentage !== undefined">
                <div class="circle-chart">
                  <svg class="progress-ring" viewBox="0 0 36 36">
                    <circle class="bg" cx="18" cy="18" r="16" />
                    <circle
                      class="progress"
                      cx="18"
                      cy="18"
                      r="16"
                      [attr.stroke-dasharray]="100"
                      [attr.stroke-dashoffset]="
                        100 - getSafePercent(card.percentage)
                      "
                    />
                  </svg>
                  <div class="circle-text">{{ card.percentage }}%</div>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="icons-row">
            <div class="dots-column">
              <div class="icon" *ngFor="let dot of card.colordot">
                <span
                  class="dot"
                  [ngStyle]="{ 'background-color': dot.iconcolor }"
                ></span>
                <span class="icon-counts">{{ dot.count }}</span>
              </div>
            </div>
            <div class="icons-group icon-counts">
              <div class="icon" *ngFor="let icon of card.icons">
                <img [src]="icon.iconPath" alt="icon" />
                <span>{{ icon.count }}</span>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>

    <!-- Escalated Section -->
    <div class="escalated-content-section">
      <div class="section-header">
        <h2>ESCALATED</h2>
      </div>
      <div class="section-body">
        <div class="escalated-section">
          <p-card *ngFor="let e of escalatedDetails" class="escalated-card">
            <ng-template pTemplate="header">
              <div class="escalated-card-content">
                <h4>{{ e.label }}</h4>
                <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
              </div>
            </ng-template>
            <div class="icons">
              <div class="dots-column" *ngIf="e.colordot">
                <div class="icon-section" *ngFor="let dot of e.colordot">
                  <span
                    class="dot"
                    [ngStyle]="{ 'background-color': dot.iconcolor }"
                  ></span>
                  <span class="opacity-25">{{ dot.count }}</span>
                </div>
              </div>
              <div class="icons-group opacity-25" *ngIf="e.icons">
                <div class="icon-section" *ngFor="let icon of e.icons">
                  <img
                    [src]="icon.iconPath"
                    alt="icon"
                    class="icon-image"
                    [ngClass]="{
                      'cam-icon': icon.iconPath.includes('cam.svg'),
                    }"
                  />
                  <span>{{ icon.count }}</span>
                </div>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>

    <!-- Charts -->
    <div class="chart-content-section">
      <div class="chart-title">
        <div class="section-header">
          <h2>ESCALATED GRAPH</h2>
        </div>
        <div class="section-header">
          <h2>TIME GRAPH</h2>
        </div>
      </div>
      <div class="chart-section-body">
        <div class="chart-section">
          <div class="chart-container">
            <app-column-chart
              chartMode="suspicious"
              [chartData]="escalatedGraph"
            >
            </app-column-chart>
          </div>
          <div class="chart-container">
            <app-line-chart
              chartMode="suspiciousHourlyData"
              [hourlyData]="hourlyBreakdownData"
            >
            </app-line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
